<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="/profileAdmin" class="logo">
            <img src="../../../assets/images/logo.png" alt="">
          </a>
          <ul class="nav">
            <li><a routerLink="/admin" >Danh Sách Tài Khoản</a></li>
            <li><a routerLink="/ThongBao">Thông Báo</a></li>
            <li><a routerLink="/profileAdmin">Trang cá nhân<img src="{{img}}" alt="" style="width: 30px; border-radius: 50%; right: 15px;height: 30px"></a></li>
          </ul>
          <div class="main-border-button">
            <a style="color: white;background: #27292a; width: 133px;margin-right: -50px" id="logout" (click)="logOut()">Đăng Xuất</a>
          </div>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-profile ">
              <div class="row">
                <div class="col-lg-4">
                  <img src="{{img}}"
                       alt="" style="border-radius: 23px; width: 290px; height: 400px">
                  <input type="file" id="file" style="position: static; margin-top: 20px; margin-left: 100px; color: #1F2122" #uploadFile1  class="form-control" multiple="multiple">
                  <div class="main-border-button">
                    <a style="color: plum" (click)="uploadFileImg()">Lưu</a>
                  </div>
                </div>
                <div class="col-lg-4 align-self-center">
                  <div class="main-info header-text">
                    <div class="main-border-button">
                      <div id="status" hidden>
                        <a id="status1">Online</a>
                      </div>
                      <div class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                        </div>
                      </div>
                    </div>
                    <br>
                    <li><h4 [innerText]="userName"></h4></li>
<!--                    <p [innerText]="userProfile.moTa"></p>-->
                    <div class="main-border-button">
                      <a id="requestAdmin" routerLink="/Notification" >Tổng Đơn</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 align-self-center">
                  <ul style=" background-image: linear-gradient(to left, #004085, rgb(255 89 130));">
                    <li style="color: darkblue">Tên: <span [innerText]="userProfile.fullName"></span></li>
                    <li style="color: darkblue">Ngày sinh: <span [innerText]="userProfile.birthday"></span></li>
                    <li style="color: darkblue">Giới tính: <span [innerText]="userProfile.gender"></span></li>
                  </ul>
                  <div class="main-border-button">
                    <a href="#" data-toggle="modal" data-target="#rotateModal"
                       style="color: white;position: static;margin-left: 110px;margin-top: -20px;background-color: #27292a;">Sửa</a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="clips">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="heading-section">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
