<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/home" class="logo">
            <img src="../../../assets/images/logo.png" alt="">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Search End ***** -->
          <div class="search-input">

            <form id="search" action="#">
              <input type="text" placeholder="Viết gì đó" [(ngModel)]="nameSearch" id='searchText'
                     name="searchKeyword" (input)="search()" />
            </form>

          </div>
          <!-- ***** Search End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="main-border-button"><a style="color: white" routerLink="/home">Trang chủ</a></li>
            <li class="main-border-button"><a style="color: white" routerLink="/browse" class="active">Tìm kiếm</a></li>
            <li class="main-border-button"><a style="color: white" routerLink="/stream">Thông Báo</a></li>
            <li class="main-border-button"><a style="color: white" routerLink="/profile">Trang cá nhân <img src="{{img}}" alt=""
                                                                                                            style="width: 30px; border-radius: 50%; right: 15px;height: 30px"></a>
            </li>
          </ul>
          <div class="main-border-button">
            <a style="color: white;background: #27292a; width: 133px;margin-right: -50px" id="logout" hidden (click)="logOut()">Đăng
              xuất</a>
          </div>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End *****-->
<div class="search-filter">
  <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="shopee-svg-icon">
    <g>
      <polyline fill="none" points="5.5 13.2 5.5 5.8 1.5 1.2 13.5 1.2 9.5 5.8 9.5 10.2" stroke-linecap="round"
                stroke-linejoin="round" stroke-miterlimit="10"></polyline>
      <polyline id="filter__ticked" points="9.2 11.3 10.3 12.1 11.8 10.4"
                style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 10; stroke-width: 0.5;"></polyline>
      <circle cx="10.5" cy="11.2" r="2.5" stroke="none"></circle>
      <use xlink:href="#filter__ticked"></use>
    </g>
  </svg>
  <div class="shopee-search-filter-status__text" style="color: white">Lọc tìm kiếm</div>

  <div style="margin-top: -150px" class="ageField">
<!--    <div class="age field-wrapper loading">-->
<!--      <div class="text-wrapper ages"><a url="/texts/forms/search-form/search-form#ages">Độ tuổi:</a></div>-->
<!--      <span class="field data-wrapper"> Từ-->
<!--<div class="customized-select">-->
<!--<select name="minage" class="data lower trackable" tabindex="2">-->
<!--<option value="15" selected="selected">18</option>-->
<!--<option value="20">20</option>-->
<!--<option value="25">25</option>-->
<!--<option value="30">30</option>-->
<!--<option value="35">35</option>-->
<!--<option value="40">40</option>-->
<!--<option value="45">45</option>-->
<!--<option value="50">50</option>-->
<!--<option value="55">55</option>-->
<!--<option value="60">60</option>-->
<!--<option value="65">65</option>-->
<!--<option value="70">70</option>-->
<!--<option value="75">75</option>-->
<!--</select>-->
<!--</div>-->
<!--</span> <span class="separator text-wrapper">Đến</span>-->
<!--      <span class="field data-wrapper">-->
<!--<div class="customized-select">-->
<!--<select name="maxage" class="data higher trackable" tabindex="2">-->
<!--<option value="20">20</option>-->
<!--<option value="25">25</option>-->
<!--<option value="30">30</option>-->
<!--<option value="35">35</option>-->
<!--<option value="40">40</option>-->
<!--<option value="45">45</option>-->
<!--<option value="50">50</option>-->
<!--<option value="55">55</option>-->
<!--<option value="60">60</option>-->
<!--<option value="65">65</option>-->
<!--<option value="70">70</option>-->
<!--<option value="75">75</option>-->
<!--<option value="80" selected="selected">80+</option> </select>-->
<!--</div>-->
<!--</span>-->
<!--<br>-->

      <div>Giới tính:
      <div class="radio">
        <input style="margin-left: 6px;margin-top: 10px" [ngModel]="gender" [value]="true" (ngModelChange)="filterNam()" type="radio" id="radio1" name="group-radio">
        <label for="radio1">Nam</label>
      </div>
      <div style="margin-top: -40px;margin-left: 66px" class="radio">
        <input style="margin-left: 6px;margin-top: 10px" [ngModel]="gender" [value]="false" (ngModelChange)="filterNu()" type="radio" id="radio2" name="group-radio">
        <label for="radio2">Nữ</label>
      </div>
      </div>

      <div> Thành phố:
        <form>
          <input [ngModel]="city" #cityS [ngModelOptions]="{standalone: true}" style="color: black;width: 150px;border-top-left-radius: 10px;border-bottom-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px" type="text" id="city" >
          <br>
          <button (click)="filterCity(cityS.value)" style="color: blue; border-top-left-radius: 10px;border-bottom-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px" type="submit" >Tìm</button>
        </form>
<br>
      </div>
    <div>
      <form>
        Giá lên đến:
        <input [ngModel]="price" #priceS (ngModelChange)="filterByPrice(priceS.value)" [ngModelOptions]="{standalone: true}" placeholder="0" type="number" style="border-top-left-radius: 10px;border-bottom-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;width: 60px" >
      </form>
      <br>
    </div>
    <div><a type="button" class="btn btn-outline-dark" style="font-size: 18px;width: 85px;height: 30px;border-top-left-radius: 10px;border-bottom-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;background-color: black;color: white" (click)="reloadPage()">Làm mới</a></div>
    </div>
  </div>
<!--</div>-->


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">
        <div class="row">
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4>Danh Sách</h4>
                </div>
                <div class="row">

<!--                  <div class="col-lg-3 col-sm-6" *ngFor="let t of fullName|paginate: { itemsPerPage: 4, currentPage: S},let i = index" (mouseenter)="check(t.id + 'all')" (mouseleave)="check1(t.id + 'all')">-->
                  <div class="col-lg-3 col-sm-6" *ngFor="let t of fullName,let i = index" (mouseenter)="check(t.id + 'all')" (mouseleave)="check1(t.id + 'all')">

                  <a [routerLink]="'/detail/'+t.id"><div class="item">

                      <img src="{{t.img}}" alt="" style="width: 200px; height: 280px">
                      <h4>{{t.fullName}}<br>
                        <p id="{{t.id + 'all'}}" hidden><span *ngFor="let x of t.provideds">{{x.provided}}</span></p>
                      </h4>
                      <p>{{t.gender}}</p>
                      <ul>
                        <li><i class="fa fa-star"></i> {{t.price}}$/Ngày</li>
                      </ul>
                    </div>
                    </a>
                  </div>
                  <div class="col-lg-12">
                  </div>
                </div>
              </div>
<!--              <pagination-controls (pageChange)="S = ($event)"></pagination-controls>-->
            </div>
          </div>
          <!-- ***** Most Popular End ***** -->

        </div>
      </div>
    </div>
  </div>
</div>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2036 <a href="#">Cyborg Gaming</a> Company. All rights reserved.

          <br>Design: <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a>
          Distributed By <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
      </div>
    </div>
  </div>
</footer>


