<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="/Notification" class="logo">
            <img src="../../../assets/images/logo.png" alt="">
          </a>
          <ul class="nav">
            <li><a routerLink="/admin">Danh Sách Tài Khoản</a></li>
            <li><a routerLink="/ThongBao">Thông Báo</a></li>
            <li><a routerLink="/Notification">Tổng Đơn</a></li>
            <li><a routerLink="/profileAdmin">Trang Cá Nhân<img src="{{img}}" alt="" style="width: 30px; border-radius: 50%; right: 15px;height: 30px"></a></li>
          </ul>
          <div class="main-border-button">
            <a style="color: white;background: #1a1e21; width: 133px;margin-right: -50px" id="logout"  (click)="logOut()">Đăng xuất</a>
          </div>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
<br>
  <div class="gaming-library profile-library">
    <div class="col-lg-12">
      <div class="heading-section" style="margin-left: 40px">
        <br>
        <h4>Lịch sử thuê</h4>
      </div>
      <div class="item" *ngFor="let x of history|paginate: { itemsPerPage: 3, currentPage: S}">
        <ul>
          <li><img src="{{x.img}}" alt="" class="templatemo-item"></li>
          <li><h4>Tên: </h4><span style="color: #b6effb">{{x.userName}}</span></li>
          <li><h4>Ngày: </h4><span style="color: #b6effb">{{x.date}}</span></li>
          <li style="text-align: center"><h4>Tổng đơn: </h4><span style="color: #b6effb">{{x.price}}/$</span></li>
        </ul>
      </div>
      <pagination-controls (pageChange)="S = ($event)"></pagination-controls>
      <br>
      <br>
    </div>
  </div>
