<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="/home" class="logo">
            <img src="assets/images/logo.png" alt="">
          </a>
          <div class="search-input">
            <form id="search" action="#">
              <input type="text" placeholder="Viết gì đó" id='searchText' name="searchKeyword" onkeypress="handle"
                     (keyup.enter)="onInput($event)"/>
            </form>
          </div>
          <ul class="nav">
            <li class="main-border-button"><a style="color: white" routerLink="/home" class="active">Trang chủ</a></li>
            <li class="main-border-button"><a style="color: white" routerLink="/browse">Tìm kiếm</a></li>
            <li class="main-border-button"><a style="color: white" routerLink="/stream">Thông Báo</a></li>
            <li class="main-border-button"><a style="color: white" routerLink="/profile">Trang cá nhân <img src="{{img}}" alt=""
                                                            style="width: 30px; border-radius: 50%; right: 15px;height: 30px"></a>
            </li>
          </ul>
          <div class="main-border-button">
            <a style="color: white;background: #27292a; width: 133px;margin-right: -50px" id="logout" hidden (click)="logOut()">Đăng
              xuất</a>
          </div>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">
        <div class="row">
          <div style="margin-left: 50px" class="col-lg-4">
            <div class="top-streamers">
              <div class="heading-section">
                <h4>Top Lượt thuê</h4>
              </div>
              <ul>
                <li *ngFor="let t of hires, index as i">
                  <span>{{i + 1}}</span>
                  <img src="{{t.detailAccountSart.img}}" alt=""
                       style="width: 46px; border-radius: 50%; right: 15px;height: 46px"
                       (mouseenter)="check(t.detailAccountSart.id + 'hires')"
                       (mouseleave)="check1(t.detailAccountSart.id + 'hires')">
                  <h6>&emsp;{{t.detailAccountSart.fullName}} </h6><h6
                  id="{{t.detailAccountSart.id + 'hires'}}" >&emsp;Lượt thuê {{t.hires}}</h6>
                  <div class="main-button">
                    <a [routerLink]="'/detail/'+ t.detailAccountSart.id">Thuê</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div style="margin-left: 250px" class="col-lg-4">
            <div class="top-streamers">
              <div class="heading-section">
                <h4>Top Đánh giá</h4>
              </div>
              <ul>
                <li *ngFor="let t of star, index as i">
                  <span>{{i + 1}}</span>
                  <img src="{{t.detailAccountSart.img}}" alt=""
                       style="width: 46px; border-radius: 50%; margin-right: 15px; height: 46px">
                  <h6> {{t.detailAccountSart.fullName}}&emsp;<i class="fa fa-star"></i>{{t.star}}</h6>
                  <div class="main-button">
                    <a [routerLink]="'/detail/'+ t.detailAccountSart.id">Thuê</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4>Người mới</h4>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-6" *ngFor="let t of newBie, index as i" (mouseenter)="check(t.id + 'newbie')" (mouseleave)="check1(t.id + 'newbie')">
                    <div class="item">
                      <a [routerLink]="'/detail/'+ t.id">
                        <img src="{{t.img}}" alt="" style="width: 200px; height: 280px">
                        <h4>{{t.fullName}}<br>
                          <p id="{{t.id + 'newbie'}}" hidden><span *ngFor="let x of t.provideds">{{x.provided}}</span>
                          </p></h4>
                        <ul>
                          <li><i class="fa fa-star"></i> {{t.price}}$/Ngày</li>
                        </ul>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="main-button">
                      <a routerLink="/browse">Xem thêm</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ***** Most Popular End ***** -->

          <!-- ***** Most Popular Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4>Phù hợp Giới Tính</h4>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-6" *ngFor="let t of Gender index as i" (mouseenter)="check(t.id + 'gender')" (mouseleave)="check1(t.id + 'gender')">
                    <div class="item">
                      <a [routerLink]="'/detail/'+ t.id">
                        <img src="{{t.img}}" alt="" style="width: 200px; height: 280px">
                        <h4>{{t.fullName}}<br>
                          <p id="{{t.id + 'gender'}}" hidden><span *ngFor="let x of t.provideds">{{x.provided}}</span>
                          </p>
                        </h4>
                        <ul>
                          <li><i class="fa fa-star"></i> {{t.price}}$/Ngày</li>
                        </ul>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="main-button">
                      <a routerLink="/browse">Xem thêm</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Most Popular End ***** -->

          <!-- ***** Most Popular Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4>Vip</h4>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-6" *ngFor="let t of Vip" (mouseenter)="check(t.id + 'vip')" (mouseleave)="check1(t.id + 'vip')">
                    <div class="item">
                      <a [routerLink]="'/detail/'+ t.id">
                        <img src="{{t.img}}" alt="" style="width: 200px; height: 280px">
                        <h4>{{t.fullName}}<br>
                          <p id="{{t.id + 'vip'}}" hidden><span *ngFor="let x of t.provideds">{{x.provided}}</span></p>
                        </h4>
                        <ul>
                          <li><i class="fa fa-star"></i> {{t.price}}$/Ngày</li>
                        </ul>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="main-button">
                      <a routerLink="/browse">Xem thêm</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Most Popular End ***** -->

        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2036 <a href="#">Cyborg Gaming</a> Company. All rights reserved.
          <br>Design: <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a>
          Distributed By <a href="https://themewagon.com" target="_blank">ThemeWagon</a></p>
      </div>
    </div>
  </div>
</footer>

