<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="/home" class="logo">
            <img src="assets/images/logo.png" alt="">
          </a>
          <div class="search-input">
            <form id="search" action="#">
              <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
            </form>
          </div>
          <ul class="nav">
            <li><a routerLink="/admin" >Admin</a></li>
            <li><a routerLink="/home" class="active">Home</a></li>
            <li><a routerLink="/browse" >Browse</a></li>
            <li><a routerLink="/detail">Details</a></li>
            <li><a routerLink="/stream">Streams</a></li>
            <li><a routerLink="/profile">Profile <img src="assets/images/profile-header.jpg" alt=""></a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">
        <div class="row">
          <div style="margin-left: 50px" class="col-lg-4">
            <div class="top-streamers">
              <div class="heading-section">
                <h4><em>Top</em> Hires</h4>
              </div>
              <ul>
                <li *ngFor="let t of hires, index as i">
                  <span>{{i+1}}</span>
                  <img src="{{t.detailAccountSart.img}}" alt=""
                       style="max-width: 46px; border-radius: 50%; margin-right: 15px;" (mouseenter)="check(t.detailAccountSart.id + 'hires')" (mouseleave)="check1(t.detailAccountSart.id + 'hires')" >
                  <h6 ><i class="fa fa-check"></i>{{t.detailAccountSart.fullName}} </h6><h6 id="{{t.detailAccountSart.id + 'hires'}}" hidden>Lượt thuê {{t.hires}}</h6>
                  <div class="main-button">
                    <a href="#">Follow</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div style="margin-left: 250px" class="col-lg-4">
            <div class="top-streamers">
              <div class="heading-section">
                <h4><em>Top</em> Star</h4>
              </div>
              <ul>
                <li *ngFor="let t of star, index as i">
                  <span>{{i+1}}</span>
                  <img src="{{t.detailAccountSart.img}}" alt=""
                       style="max-width: 46px; border-radius: 50%; margin-right: 15px;">
                  <h6> {{t.detailAccountSart.fullName}}</h6>&nbsp<h6> <i class="fa fa-star"></i>{{t.star}}</h6>
                  <div class="main-button">
                    <a href="#">Follow</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>New</em>bie</h4>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-6" *ngFor="let t of newBie, index as i" (mouseenter)="check(t.id + 'newbie')" (mouseleave)="check1(t.id + 'newbie')">
                    <div class="item">
                      <img src="{{t.img}}" alt="" >
                      <h4>{{t.fullName}}<br><p id="{{t.id + 'newbie'}}" hidden><span *ngFor="let x of t.provideds" >{{x.provided}}</span></p></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> {{t.price}}$/Day</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="main-button">
                      <a href="browse.html">Discover Popular</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ***** Most Popular End ***** -->

          <!-- ***** Most Popular Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Gen</em>der</h4>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-6" *ngFor="let t of Gender, index as i" (mouseenter)="check(t.id + 'gender')" (mouseleave)="check1(t.id + 'gender')">
                    <div class="item">
                      <img src="{{t.img}}" alt="" >
                      <h4>{{t.fullName}}<br><p id="{{t.id + 'gender'}}" hidden><span *ngFor="let x of t.provideds" >{{x.provided}}</span></p></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> {{t.price}}$/Day</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="main-button">
                      <a href="browse.html">Discover Popular</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Most Popular End ***** -->

          <!-- ***** Most Popular Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>V</em>ip</h4>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-6" *ngFor="let t of Vip, index as i" (mouseenter)="check(t.id + 'vip')" (mouseleave)="check1(t.id + 'vip')">
                    <div class="item">
                      <img src="{{t.img}}" alt="" >
                      <h4>{{t.fullName}}<br><p id="{{t.id + 'vip'}}" hidden><span *ngFor="let x of t.provideds" >{{x.provided}}</span></p></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> {{t.price}}$/Day</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="main-button">
                      <a href="browse.html">Discover Popular</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Most Popular End ***** -->

      </div>
    </div>
  </div>
</div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2036 <a href="#">Cyborg Gaming</a> Company. All rights reserved.
          <br>Design: <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a>  Distributed By <a href="https://themewagon.com" target="_blank" >ThemeWagon</a></p>
      </div>
    </div>
  </div>
</footer>

