<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="/Notification" class="logo">
            <img src="../../../assets/images/logo.png" alt="">
          </a>
          <ul class="nav">
            <li><a routerLink="/admin">Danh Sách Tài Khoản</a></li>
            <li><a routerLink="/ThongBao">Thông Báo</a></li>
            <li><a routerLink="/Notification">Tổng Đơn</a></li>
            <li><a routerLink="/profileAdmin">Trang Cá Nhân<img src="{{img}}" alt="" style="width: 30px; border-radius: 50%; right: 15px;height: 30px"></a></li>
          </ul>
          <div class="main-border-button">
            <a style="color: white;background: #27292a; width: 133px;margin-right: -50px" id="logout" hidden
               (click)="logOut()">Đăng
              xuất</a>

          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
        </nav>
        <br>
        <div class="heading-section" style="margin-left: 60px; margin-top: 30px">
          <h4>Thông báo</h4>
        </div>
        <div class="gaming-library profile-library">
          <div class="col-lg-12">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">
        <div class="gaming-library profile-library">
          <div class="item" *ngFor="let n of notification">
            <ul>
              <li><img src="{{n.img}}" alt="" class="templatemo-item"></li>
              <li>
                <span><p>
                  Người dùng {{n.name}} muốn đăng ký Cung Cấp Dịch Vụ
                </p>
              </span>
              </li>
              <li>
              <span *ngIf="n.status == 10"><div class="main-border-button"><a
                style="color: lightgreen;;margin-right: 10px; text-align: center"
                (click)="answer(n.id_account, n.id, n.money)">Chấp nhận</a>
              <a
                style="color: crimson;margin-right: -200px; text-align: center"
                (click)="cancel(n.id_account, n.id, n.id_answer, n.money)">Từ chối</a></div>
              </span>
                <span *ngIf="n.status == 13"><p style="color: green">
                  Đã chấp nhận
                </p>
              </span>
                <span *ngIf="n.status == 14"><p style="color: red">
                  Đã từ chối
                </p>
              </span>
              <li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
