<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/home" class="logo">
            <img src="../../../assets/images/logo.png" alt="">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Search End ***** -->
          <div class="search-input">
            <form id="search" action="#">
              <input type="text" placeholder="Viết gì đó" id='searchText' name="searchKeyword" onkeypress="handle"
                     (keyup.enter)="onInput($event)"/>
            </form>
          </div>
          <!-- ***** Search End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a routerLink="/home">Trang chủ</a></li>
            <li><a routerLink="/browse">Tìm kiếm</a></li>
            <li><a routerLink="/stream" class="active">Thông Báo</a></li>
            <li><a routerLink="/profile">Trang cá nhân <img src="{{img}}" alt=""
                                                            style="width: 30px; border-radius: 50%; right: 15px;height: 30px"></a>
            </li>
          </ul>
          <div class="main-border-button">
            <a style="color: white;background: #27292a; width: 133px;margin-right: -50px" id="logout" hidden
               (click)="logOut()">Đăng
              xuất</a>
          </div>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">
        <div class="gaming-library profile-library">
          <div class="item" *ngFor="let n of notification">
            <ul>
              <li><img src="{{n.img}}" alt=""
                       class="templatemo-item"></li>
              <li><h4>Tên</h4><span>{{n.name}}</span></li>
              <li><h4>Ngày </h4><span>{{n.date}}</span></li>
              <li style="text-align: center"><h4>Tổng đơn</h4><span>{{n.money}}</span></li>
              <li><span *ngIf="n.status == 1"><div class="main-border-button"><a
                style="color: lightgreen;;margin-right: 10px; text-align: center"
                (click)="answer(n.id_account, n.id, n.money)">Chấp nhận</a>
              <a
                style="color: crimson;margin-right: -200px; text-align: center"
                (click)="cancel(n.id_account, n.id, n.id_answer, n.money)">Từ chối</a></div>

              </span>
                <span *ngIf="n.status == 2"><p style="color: lightgreen;margin-left: -80px">Đang chờ xác nhận</p></span>
                <span *ngIf="n.status == 3"><div class="main-border-button"><a
                  style="color: lightgreen;height: 45px;; text-align: center"
                  (click)="start(n.id_account, n.id, n.id_answer, n.money)">Bắt đầu DV</a>
                <a
                  style="color: crimson;margin-right: -200px; text-align: center"
                  (click)="cancel1(n.id_account, n.id, n.id_answer, n.money)">Hủy dịch vụ</a></div>
                </span>
                <span *ngIf="n.status == 4"><p
                  style="color: lightgreen; width: 150px;margin-right: -50px; width: 200px; text-align: center">Đang tiến hành</p></span>
                <span *ngIf="n.status == 5"><div class="main-border-button"><a
                  style="color: lightgreen; width: 150px;margin-right: -50px; width: 200px; text-align: center"
                  (click)="end(n.id_account, n.id, n.id_answer, n.money)">Hoàn thành</a></div></span>
                <span *ngIf="n.status == 6"><p
                  style="color: lightgreen; width: 150px;margin-right: -50px; width: 200px; text-align: center">Đã hoàn thành</p></span>
                <span *ngIf="n.status == 7"><p
                  style="color: crimson; width: 150px;margin-right: -50px; width: 200px; text-align: center">Đối phương từ chối giao dịch</p></span>
                <span *ngIf="n.status == 8"><p
                  style="color: crimson; width: 150px;margin-right: -50px; width: 200px; text-align: center">Đơn đã bị hủy</p></span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- ***** Gaming Library End ***** -->
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2036 <a href="#">Cyborg Gaming</a> Company. All rights reserved.

          <br>Design: <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a>
          Distributed By <a href="https://themewagon.com" target="_blank">ThemeWagon</a></p>
      </div>
    </div>
  </div>
</footer>

