<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="/AccountUser" class="logo">
            <img src="../../../assets/images/logo.png" alt="">
          </a>
          <ul class="nav">
            <li><a routerLink="/Admin" class="active">Admin</a></li>
            <li><a routerLink="/ThongBao">Thông Báo</a></li>
            <li><a routerLink="/profileAdmin">Trang cá nhân Admin<img src="{{img}}" alt="" style="width: 30px; border-radius: 50%; right: 15px;height: 30px"></a></li>
          </ul>
          <div class="main-border-button">
            <a style="color: white;background: #27292a; width: 133px;margin-right: -50px" id="logout" hidden (click)="logOut()">Đăng
              xuất</a>
          </div>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="col-lg-12">
    <div class="page-content">
      <div class="heading-section">

        <button type="button" class="btn btn-outline-danger" routerLink="/admin">Người CCDV</button>
        <br>
        <br>
        <h4>Danh sách người dùng</h4>
        <div class="most-popular">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-3 col-sm-6" *ngFor="let t of account|paginate: { itemsPerPage: 4, currentPage: S}, index as i">
                  <div class="item">
                    <div>
                      <div *ngIf = " t.detailAccount.vip == 1">
                        <a type="button" class="btn btn-danger" id="vip1" (click)="Vip(t.detailAccount.vip,t.id)">UnVIP</a>
                      </div>
                      <div  *ngIf = "t.detailAccount.vip == 0">
                        <a type="button" class="btn btn-danger"  id="vip2 "(click)="Vip(t.detailAccount.vip,t.id)">VIP</a>
                      </div>
                      <div>
                        <br>
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#myModal" (click)="click(t.id)">Nạp tiền</button>
                      </div>
                    </div>
                    <br>
                    <br>
                    <div>
                      <div *ngIf = "t.status == 1">
                        <a type="button" class="btn btn-dark" id="van13" (click)="lock(t.id)">🔓</a>
                      </div>
                      <div  *ngIf = "t.status == 0">
                        <a type="button" class="btn btn-dark" id="van12" (click)="unlock(t.id)">🔒</a>
                      </div>
                    </div>
                    <ul>
                    </ul>
                    <img src="{{t.img}}" alt="" style="width: 150px; height: 150px;border-radius:50%; margin-right: 50px;" >
                    <br>
                    <h4>{{t.fullName}}<br><p id="{{t.status + 'account'}}" ><span >{{t.MoTa}}</span></p></h4>
                    <br>
                    <h4>Số dư:</h4><h4>{{t.money}}$</h4>
                    <br>
                  </div>
                </div>
              </div>
              <div class="text-center">
              </div>
            </div>
          </div>
          <pagination-controls (pageChange)="S = ($event)"></pagination-controls>
          </div>
          </div>
                  <div class="main-button">
                  </div>
                </div>
              </div>
            </div>

        <div class="text-center">
        </div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <p>Nhập số tiền muốn nạp</p>
        <input type="text" placeholder="Nhập số tiền cần nạp" id='naptien'
               name="searchKeyword" #tien/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="NapTienhihi(idaccount,tien.value)">Nạp</button>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2023 <a>Cyborg Gaming</a> Company. All rights reserved.
          <br>Design: <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a>  Distributed By <a href="https://themewagon.com" target="_blank" >ThemeWagon</a></p>
      </div>
    </div>
  </div>
</footer>
