<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/home" class="logo">
            <img src="../../../assets/images/logo.png" alt="">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Search End ***** -->
          <div class="search-input">
            <form id="search" action="#">
              <input type="text" placeholder="Viết gì đó" id='searchText' name="searchKeyword" onkeypress="handle"
                     (keyup.enter)="onInput($event)"/>
            </form>
          </div>
          <!-- ***** Search End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a routerLink="/home">Trang chủ</a></li>
            <li><a routerLink="/browse">Tìm kiếm</a></li>
            <li><a routerLink="/stream">Thông Báo</a></li>
            <li><a routerLink="/profile" class="active">Trang cá nhân <img src="{{img}}" alt=""
                                                                           style="width: 30px; border-radius: 50%; right: 15px;height: 30px"></a>
            </li>
          </ul>
          <div class="main-border-button">
            <a style="color: hotpink; width: 150px;margin-right: -50px" id="logout" hidden (click)="logOut()">Đăng
              xuất</a>
          </div>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">
        <!-- ***** Banner Start ***** -->
        <div class="row">
          <div class="col-lg-12">
            <div class="main-profile ">
              <div class="row">
                <div class="col-lg-4">
                  <img src="{{img}}" id="uploadPreview"
                       alt="" style="border-radius: 23px; width: 290px; height: 400px">
                  <input type="file" id="file" (change)="showImg()"
                         style="position: static; margin-top: 20px;background-color: #1F2122FF;border-color: #1F2122FF; margin-left: 75px; color: #1F2122" #uploadFile1
                         class="form-control" multiple="multiple">
                  <div class="main-border-button">
                    <a style="margin-left: 85px;margin-top:10px;color: plum"  (click)="uploadFileImg()">Lưu</a>
                  </div>
                </div>
                <div class="col-lg-4 align-self-center">
                  <div class="main-info header-text">
                    <div class="modal" tabindex="-1" role="dialog">
                      <div class="modal-dialog" role="document">
                      </div>
                    </div>
                    <h4 [innerText]="'Tên: '+ userName"></h4>
                    <div class="main-border-button" id="requestAdmin" hidden>
                      <a id="requestAdmin1" hidden style="color: plum" (click)="requsetAdmin1()">Đăng ký CCDV</a>
                      <a id="requestAdmin2" hidden style="background-color: hotpink; color: white"
                         (click)="requsetAdmin2()">Đã gửi yêu cầu đến Admin</a>
                    </div>
                    <div class="main-border-button" id="status" hidden>
                      <a id="status1" hidden style="background-color: green; color: white" (click)="editProfile1()">Bắt
                        đầu CCDV</a>
                      <a id="status2" hidden style="background-color: red; color: white" (click)="editProfile2()">Tạm
                        dừng CCDV</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 align-self-center">
                  <ul>
                    <li>Tên: <span [innerText]="userProfile.fullName"></span></li>
                    <li>Ngày sinh: <span [innerText]="userProfile.birthday"></span></li>
                    <li>Giới tính: <span [innerText]="userProfile.gender"></span></li>
                    <li>Số dư: <span [innerText]="userProfile.money + '$'"></span></li>
                  </ul>
                  <div class="main-border-button">
                    <a href="#"
                       style="position: static;margin-left: 110px;margin-top: -20px;background-color: aliceblue;">Sửa</a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="clips">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="heading-section">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ***** Banner End ***** -->
      <!-- ***** Gaming Library Start ***** -->
      <div class="gaming-library profile-library">
        <div class="col-lg-12">
          <div class="heading-section">
            <h4>Lịch sử thuê</h4>
          </div>
          <div class="item" *ngFor="let x of history">
            <ul>
              <li><img src="{{x.img}}" alt=""
                       class="templatemo-item"></li>
              <li><h4>Tên</h4><span>{{x.userName}}</span></li>
              <li><h4>Ngày </h4><span>{{x.date}}</span></li>
              <li style="text-align: center"><h4>Tổng đơn</h4><span>{{x.price}}$</span></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ***** Gaming Library End ***** -->
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!--        <p>Copyright © 2036 <a href="#">Cyborg Gaming</a> Company. All rights reserved.-->
        <!--          <br>Design: <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a>  Distributed By <a href="https://themewagon.com" target="_blank" >ThemeWagon</a></p>-->
      </div>
    </div>
  </div>
</footer>
