<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/" class="logo">
            <img src="assets/images/logo.png" alt="">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Search End ***** -->
          <div class="search-input">
            <form id="search" action="#">
              <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
            </form>
          </div>
          <!-- ***** Search End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a routerLink="/home" >Home</a></li>
            <li><a routerLink="/browse">Browse</a></li>
            <li><a routerLink="/detail" class="active">Details</a></li>
            <li><a routerLink="/stream">Streams</a></li>
            <li><a routerLink="/profile">Profile <img src="assets/images/profile-header.jpg" alt=""></a></li>
          </ul>
          <div class="main-border-button">
            <a style="color: hotpink" id="logout" hidden>Logout</a>
          </div>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">
        <!-- ***** Banner Start ***** -->
        <div class="row">
          <div class="col-lg-12">
            <div class="main-profile ">
              <div class="row">
                <div class="col-lg-4">

                  <img src="{{img}}"
                       alt="" style="border-radius: 23px;">
<!--                  <input type="file" style="position: static; margin-top: 20px; margin-left: 100px; color: #1F2122" #uploadFile1  class="form-control" multiple="multiple">-->
<!--                  <div class="main-border-button">-->
<!--                    <a style="color: plum" (click)="uploadFileImg()">Lưu</a>-->
<!--                  </div>-->

                </div>
                <div class="col-lg-4 align-self-center">
                  <div class="main-info header-text">
                    <div class="modal" tabindex="-1" role="dialog">
                      <div class="modal-dialog" role="document">
                      </div>
                    </div>


                    <div class="main-border-button1" style="margin: 60px 0px 0px 28px;" id="requestAdmin1" >
                      <h2 style="color: darkviolet" [innerText]="'Provider: '+ userName"></h2>
                      <br>
                      <h4 id="requestAdmin2"  style="color: darkviolet" >Stars:</h4>
                      <br><br>
                      <h4 id="requestAdmin3"  style="color: darkviolet" >Hires Number:</h4>
                    </div>

                    <div class="main-border-button" style="margin: 100px 0px 0px 28px;" id="requestAdmin4" >
                      <a id="requestAdmin5" style="color: darkviolet" >Hire</a>
                    </div>

                  </div>
                </div>
                <div style="margin-top: -140px" class="col-lg-4 align-self-center">
                  <ul>
                    <li>Name <span [innerText]="userProfile.fullName"></span></li>
                    <li>Date <span [innerText]="userProfile.birthday"></span></li>
                    <li>Gender <span [innerText]="userProfile.gender"></span></li>
                    <li>price<span [innerText]="userProfile.money + '$'"></span></li>
                  </ul>
<!--                  <div class="main-border-button">-->
<!--                    <a href="#" style="position: static;margin-left: 110px;margin-top: -20px;background-color: aliceblue;">Edit</a>-->
<!--                  </div>-->

                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="clips">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="heading-section">
                          <div>
                            <h2>Mô tả:</h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ***** Banner End ***** -->

      <!-- ***** Gaming Library Start ***** -->


      <!-- ***** Gaming Library End ***** -->
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
                <p>Copyright © 2036 <a href="#">Cyborg Gaming</a> Company. All rights reserved.
                  <br>Design: <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a>  Distributed By <a href="https://themewagon.com" target="_blank" >ThemeWagon</a></p>
      </div>
    </div>
  </div>
</footer>
